{
    "root": true,
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "browser": true
    },
    "plugins": [
        "vue"
    ],
    "extends": [
        "standard",
        "plugin:vue/recommended"
    ],
    "rules": {
        "vue/html-indent":["error",4],
        "arrow-parens": 0,
        "semi": ["error", "always"],
        "indent": ["error", 4]
    }
}
